{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div>
    <div class="center-text">
        <p>{% trans "Hello! This is a simple Django App generating custom urls from your browser Addres Bar" %}!</p>
    </div>
    <div class="body-text">
        <div class="instruction">
            <p class="center">{% trans "Generate a short url here" %}:</p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Shorten your url"/>
            </form>
            <p>{% trans "To manage urls click do the following" %}:</p>
            <p>click <a href="{% url 'admin:index' %}">here</a> and paste credentials(both fields - 'admin').</p>
        </div>
    </div>
</div>
{% endblock content %}
